@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: plex;
    src: url("/fonts/IBMPlexSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}